<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- animate css -->
    <link rel="stylesheet" href="./../CSS/animate.min.css">
    <!-- animsition  :Not working on indiv pages. only work on index.-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.min.css">
    <!-- full bootstrap calendar -->
    <link href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" rel="stylesheet" />
    <!-- skipper photo modal css -->
    <link rel="stylesheet" href="./../CSS/skipper.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic' rel='stylesheet' type='text/css'>
    <!-- default css -->
    <link rel="stylesheet" href="./../CSS/site.css">
    <title>Pages Demo | Food</title>
    <style media="screen">
       .spacer{height:50px;}
        p . {padding: 0;}
       /*Below..this is how to customize calendar with content*/
        .fc-day8:after {content:'hello world';margin-left:10px;color: brown;font-family: ariel black;}
        .fc-day8 {content:'hello world'; margin:auto;background-color: tan;}
        .fc-day15:after {content:'hello world'; margin:auto;background-color: white;}
        #modalPic1 {margin-top: 20px;}
        .modal { margin-left: -400px;}
        #modelPic2 {margin-left: -300px;margin-top: 20px;}
        #modalB { margin-left: -500px;}
        #myModal1, #myModal2, #myModal3, #myModal4, #myModal5, #myModal6 {margin-left:30px;font-family:Josefin Sans;}
        .model h4{font-weight:700;}
        .modal-content {margin-left: 60px;}
    </style>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
    <script class="cssdesk" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
    <!-- bootstrap js -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script class="cssdesk" src="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
  </head>
  <body style="background-color:black">
    <div class="container-fluid animsition" data-animsition-out-class="fade-in-left"
    data-animsition-out-duration="2000">

      <!-- navigation -->
      <div class="row" >
        <div class="col-md-12 animsition" style="text-align:center;">
          <nav style="background-color:#000">
            <a
              href="/"
              class="animsition-link"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
                >Home</a>
            <a
              href="./../templates/blog.html"
              class="animsition-link"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
                >Blog</a>
          <a
            href="./../templates/food.html"
            class="animsition-link"
            data-animsition-in-class="fade-in-down"
            data-animsition-in-duration="2000"
            data-animsition-out-class="fade-out-down"
            data-animsition-out-duration="2000"
              >Food</a>
            <a style="text-decoration: none;"
              href="./../templates/shop.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Shop</a>
            <a style="text-decoration: none;"
              href="./../templates/chat.html"
              class="animsition-link"
              data-animsition-out-class="fade-out-down"
              data-animsition-out-duration="2000"
              data-animsition-in-class="fade-in-down"
              data-animsition-in-duration="2000"
                >Chat</a>
          </nav>
        </div>
      </div>

      <!-- banner -->
    <div class="row">
      <div class="col-md-12">

        <div class="text-center">
          <img src="./../img/meat.jpg" style="max-width:100%"alt="" />
        </div>

      </div>
      <h1 style="font-family:Lobster;text-align:center;color: rgba(255,25,25,0.7);margin-top:60px;margin-bottom:40px;">Le Chateau Phoja  ~  Gourmet Foods</h1>
    </div>


<!-- sidenav -->
<div class="push" style="margin-bottom:40px;text-align:center;margin:0 auto;">
  <a data-toggle="modal" data-target="#menuModal" class="menu-link menu-lk">Menu</a>
  <a href="#about"  class="menu-lk">About Us</a>
  <a href="#events"  class="menu-lk">Events</a>
  <div style="height:1px;background-color:white;max-width:100%"></div>

<nav style="z-index:999;background-color:#666"id="menu" class="collapse"  role="navigation">
<a style="display:block;margin-top:10px;"data-dismiss="modal"class="menu-link menu-lk" >&#x2716</a>
</nav>

<!-- MENU Modal -->
<div id="menuModal" class="modal fade" role="dialog">
  <div class="" style="margin-left:500px;">

    <!-- Modal content-->
    <div class="modal-content" style="width:1000px;background-color:transparent;border:none;margin-left:60px;">
      <div class="modal-body" style="max-width:1000px;margin-left:60px;">
        <div class="row" style="margin-top:20px;">
          <a style="display:block;background-color:white;"data-dismiss="modal" >&#x2715 CLOSE</a>
          <div class="spacer"></div>
          <div class="col-xs-4">
            <a id="link"style='background-color:black;color:white;' class="btn btn-default" data-toggle="modal" data-target="#myModal1"><img src="/img/appet.jpg" alt="" width='170' />  Appetizers</a>
          </div>

          <div class="col-xs-4">
            <a style='background-color:black;color:white' type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2"><img src="/img/salad.jpg" alt="" width='170' />Salads</a>
          </div>

          <div class="col-xs-4" style="margin-top:-3px;margin-bottom:3px;">
            <a style='background-color:black;color:white' type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3"><img src="/img/dinner1.jpg" alt="" width='190' height='115' />  Entrees</a>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-xs-4">
            <a style='background-color:black;color:white' type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal4"><img src="/img/soup.jpg" alt="" width='200' height='126' />  Sides</a>
          </div>

          <div class="col-xs-4">
              <a style='background-color:black;color:white' type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal5"><img src="/img/dessert.jpg" alt="" width='170' />  Dessert</a>
          </div>

          <div class="col-xs-4">
              <a style='background-color:black;color:white' type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal6"><img src="/img/bev.jpg" alt="" width='170' height='126' />  Beverages</a><br>
          </div>

        </div>
        <div style="background-color:rgba(255,255,255,0.8);border-radius:6px;margin:40px;">
          <p style="font-family:serif;font-size:26px;color:black;padding:5px;">
            Don't forget to make reservations!<br>(805) 555-5555
          </p>
          <p style="color:black;padding:15px;"><strong>
            Business Hrs: M-F 10a - 9p / Sat 2p -Midnight / Sun - Closed
          </strong></p>
        </div>


      </div>
      <div class="text-center" style="margin-left:500px;padding-bottom:20px;margin-top:20px;">
        <button type="button" class="btn btn-default btn-block" style='background-color:transparent;border:none;color:white' data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!--end menu modal-->



<div class="row">
  <div class="col-md-6">

    <!-- Modal 1 Appetizers-->
    <div id="myModal1" class="modal fade" role="dialog" style="">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="font-family:Josefin Sans;">Appetizers</h4>
          </div>
          <div class="modal-body">
            <h3>THREE CHEESE GARLIC BREAD</h3>
            <p>French bread topped with fresh garlic and a hot blend of Cheddar, Jack and Parmesan cheeses.</p>
            <p>5.95</p><br>

            <h3>FIRE-GRILLED FRESH ARTICHOKE</h3>
            <p>Served with our house-made lemon aioli and our signature basil pesto mayo for dipping.</p>
            <p>6.50</p><br>

            <h3>STEAKHOUSE CHILI NACHOS</h3>
            <p>Crisp tortilla chips heaped with our steak chili, Jack and Cheddar cheeses, fresh pico de gallo, pickled jalapeños and sour cream.</p>
            <p>7.95</p><br>

            <h3>CRAB STUFFED MUSHROOMS</h3>
            <p>Sautéed mushrooms stuffed with lump crab meat served over a creamy lemon butter sauce.</p>
            <p>5.95</p>
            <br>

            <h3>SEARED PEPPERED AHI* (SMALL)</h3>
            <p>Sashimi-style Tuna seared rare and placed atop an Asian slaw. Served with a creamy ginger-soy sauce.</p>
            <p>8.95</p><br>

            <h3>CRISPY BRUSSELS SPROUTS & RIPPED POTATOES</h3>
            <p>malt vinegar aioli</p>
            <p>7.50</p><br>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal 2 Salads-->
    <div id="myModal2" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Salads & Soups</h4>
          </div>
          <div class="modal-body">
            <h3>SESAME SALAD</h3>
            <p>Mixed greens, red peppers, chopped cilantro, sliced almonds and sesame seeds tossed in sesame vinaigrette. Top with grilled chicken, Ahi Tuna or grilled Salmon.</p>
            <p>8.50</p><br>

            <h3>HOUSE SALAD</h3>
            <p>Mixed lettuce with Napa cabbage, dressing of choice, cucumbers, Monterey Jack and Cheddar cheese, tomatoes, red onions and homemade croutons.</p>
            <p>6.95</p><br>

            <h3>BLUE CHEESE WEDGE SALAD</h3>
            <p>A cool, crisp wedge of fresh iceberg lettuce, chopped bacon, grape tomatoes, red onions, Blue Cheese dressing and Blue Cheese crumbles and topped with a sweet balsamic glaze.</p>
            <p>7.50</p><br>

            <h3>FRENCH ONION SOUP</h3>
            <p>Made with our world-famous onions and topped with melted Provolone cheese.</p>
            <p>7.50</p><br>

            <h3>CLAM CHOWDER</h3>
            <p>New england style, chopped clams, potatoes</p>
            <p>6.50</p><br>

            <h3>CHICKEN TORTILLA</h3>
            <p>Creamy white cheddar soup, roasted pasilla, tortilla strips, pico de gallo, avocado, cilantro</p>
            <p>6.95</p><br>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal 3 Entrees-->
    <div id="myModal3" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Entrees</h4>
          </div>
          <div class="modal-body">
            <h3>PENNE WITH CHICKEN</h3>
            <p>Mushrooms, asparagus, sun-dried tomatoes, marsala cream sauce, parmesan</p>
            <p>16.95</p><br>

            <h3>SPICY JAMBALAYA</h3>
            <p>Blackened shrimp, chicken-andouille sausage, peppers, crawfish, cajun cream sauce</p>
            <p>17.95</p><br>

            <h3>ORANGE PEEL CHICKEN</h3>
            <p>Baby corn, bok choy, orange glaze, jasmine or brown rice</p>
            <p>14.95</p><br>

            <h3>CHICKEN SCHNITZEL</h3>
            <p>Swiss, fried cabbage, tomato bacon onion jam, mayo, telera roll, curry ketchup</p>
            <p>15.50</p><br>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <!-- Modal 4 Sides-->
    <div id="myModal4" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sides</h4>
          </div>
          <div class="modal-body">
            <h3>FRENCH FRIES</h3>
            <p>15.50</p><br>

            <h3>AU GRATIN POTATOES</h3>
            <p>15.50</p><br>

            <h3>CLASSIC BAKED POTATO</h3>
            <p>15.50</p><br>

            <h3>FRESH BROCCOLI with garlic butter</h3>
            <p>15.50</p><br>

            <h3>WESTERN WILD RICE</h3>
            <p>15.50</p><br>

            <h3>HOME STYLE MASHED POTATOES</h3>
            <p>15.50</p><br>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal 5 Dessert-->
    <div id="myModal5" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Desserts</h4>
          </div>
          <div class="modal-body">
            <h3>Fuji Apple Crumble</h3>
            <p>Seared Fuji apple with sesame oil, miso salt, toffee, peanut ice cream, coconut crumble</p>
            <p>12.50</p><br>

            <h3>T2</h3>
            <p>Tiramisu mousse, coffee cream, kokuto soaked lady finger, tiramisu ice cream</p>
            <p>12.50</p><br>

            <h3>Epsilon</h3>
            <p>Peanut parfait, dulce de leche ice cream, orange marmalade, cocoa sponge, kinako and dry miso</p>
            <p>12.50</p><br>

            <h3>Strawberry Cheesecake</h3>
            <p>Strawberry sorbet and kanten, and oat biscuit</p>
            <p>12.50</p><br>

            <h3>Chocolate Nutella Crunch</h3>
            <p>Hazelnut Praline, Toasted Barley Ice Cream</p>
            <p>12.50</p><br>

            <h3>Triple-Layer Carrot Cake</h3>
            <p>Moist layers of carrot cake with coconut and pecans topped with a sweet vanilla cream cheese icing.</p>
            <p>12.50</p><br>

            <h3>SALTED CARAMEL COOKIE SKILLET</h3>
            <p>A warm salted caramel cookie with pieces of white chocolate, almond toffee and pretzels, toasted in a skillet and served with vanilla ice cream.</p>
            <p>12.50</p><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <!-- Modal 6 Beverages-->
    <div id="myModal6" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Beverages</h4>
          </div>
          <div class="modal-body">
            <h2>ALCOHOL FREE</h2>

            <h4>RASPBERRY-STRAWBERRY LEMONADE 4.50</h4>
            <h4>MANGO-RASPBERRY ICED TEA 4.50</h4>
            <h4>RUBY RED COOLER 4.50</h4>
            <h4>BLACKBERRY GINGER ALE 4.50</h4>

            <h2>BEER</h2>
            <h4>DOMESTIC DRAFTS 4.95</h4>
            <p>Coors Light</p>
            <p>Bud Light</p><br>

            <h4>CRAFT CHOICES 5.95</h4>
            <p>Samuel Adams Boston Lager</p>
            <p>Black Angus BullsEye Brew</p>
            <p>Shock Top</p>
            <p>Lagunitas IPA</p><br>

            <h4>IMPORTS 5.95</h4>
            <p>Guinness Stout</p>
            <p>Stella Artois</p>

            <h2>COCKTAILS</h2>
            <h3>THE CLASSIC MARTINI 8.25</h3>
            <p>A double pour of your choice of Smirnoff Vodka or Beefeater Gin.</p>

            <h3>MOJITO 8.50</h3>
            <p>Bacardi LimÓn hand-shaken with fresh mint and fresh lime juice. Flavors: Classic, Pomegranate, Mango.</p>

            <h3>RASPBERRY LEMON DROP 8.00</h3>
            <p>Smirnoff Vodka and Chambord Black Raspberry Liqueur with cranberry and fresh lemon juice.</p>

            <h3>MONTANA MAI TAI 8.25</h3>
            <p>Malibu Coconut Rum, Captain Morgan Spiced Rum, orange and pineapple juices topped with Myers’s Original Dark Rum.</p>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row container">


  <div class="col-md-6">

    <img src="./../img/appet.jpg" class="img-responsive" style='z-index:-100;margin-top:40px;margin-left:10px;clear:both;float:left' alt="" />
  </div>
  <div class="col-md-6 text-center" id="about" >
    <h1 style="display:inline-block;margin-top:40px;">About Le Phoja Chateau</h1>
    <p style="margin-top:40px;color:#999">
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.

      Chilton habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
    </p>
  </div>
</div><hr id="events">
<div class="container"  style="margin-top:40px;">


  <div class="text-center row" >
    <h1>Events</h1>
    <div class="col-md-5" style="">
      <h3>gallery</h3>

      <!-- Trigger the modal with a button -->
      <ul>
          <li><a id="demo01" href="#animatedModal" style="color:red;">More Info</a></li>
      </ul>


      <div id="animatedModal" style="background-color:red;">
          <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
          <div  style="margin:20px;"id="btn-close-modal" class="close-animatedModal">
              &#x274c; CLOSE
          </div>

          <div class="modal-content">
            <!--Your modal content goes here-> photo carousel -->
            <div id="container">
               <div id="theTarget">
                 <img id="myImg1"class='img-'src="/img/rest1.jpg" style="margin-bottom:20px;"alt="" data-toggle="modal" data-target="#myModalA"/>
                   <div style="background-image: url(img/rest1.jpg)"></div>
                   <div style="background-image: url(img/rest2.jpg)"></div>
                   <div style="background-image: url(img/img3.jpg)"></div>
                   <div style="background-image: url(img/img4.jpg)"></div>
                   <div style="background-image: url(img/img5.jpg)"></div>
                   <button type="button" name="button"></button>
                   <button type="button" name="button"></button>
               </div>
            </div>
          </div>
      </div> <!--End of Modal-->

<img id="myImg2"class='img-responsive'style="margin-bottom:20px;"src="/img/rest2.jpg" alt="" data-toggle="modal" data-target="#myModalB"/>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModalB" role="dialog">
  <div class="modal-dialog modal-sm">
  <div class="modal-content text-center" style="width:1100px;margin-left:-200px;">

    <div class="modal-body" style="width:1100px;">
      <img id="modalPic2" class="img-responsive"src="/img/rest2.jpg" alt="" />
      <h3>This is our pirvate dining room.</h3>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>
</div>

      <!-- <img id="myImg3"class='img-responsive'src="/img/dinner3.jpg" alt="" /> -->
      <!-- The Modal -->

    </div>

    <div class="col-md-7" style="border:2px white solid;">
      <h3>Events Calendar</h3>
      <div style="width: 100%;margin:0 auto;font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif;"id='calendar'></div>
      <div class="row">
          <h3>Events</h3>
          <ul style="list-style:none;">
            <li><a href="#"><h3>Tuesday Nite Taco Bar</h3></a></li>
            <li><a href="#"><h3>Wednesday Nite Keroke</h3></a></li>
            <li><a href="#"><h3>Thursday Nite Wine & Dine</h3></a></li>
            <li><a href="#"><h3>Friday Nite V.I.P Lounge</h3></a></li>
          </ul>
        </div>
    </div>
  </div>


  </div>
  </div>
</div>









    </div> <!-- end of container -->
    <div class="row " style="margin-top:80px;">
      <a style="margin-left:75px;" href="#">Top</a>
      <div class="col-sm-12 text-center">
        <footer style="color:white">&copy 2016 Phoja Unlimited LLC</footer>
      </div>
    </div>



    <script type="text/javascript">
    $(function () {
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        editable: true
      });




    });
    </script>
    <!-- animate js -->
    <script src="./../JS/animatedModal.min.js" ></script>
    <!-- animsition : Not working see css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/js/animsition.min.js" ></script>
    <!-- Bigslide js -->
    <script src="./../JS/bigSlide.min.js" ></script>
    <!-- skipper js -->
    <script src="./../JS/skipper.js" ></script>
    <!-- default -->
    <script src='./../JS/app.js'></script>
  </body>
</html>
